<!DOCTYPE html>
<html lang="<%= @locale %>" dir="<%= @locale=="en" ? "ltr" : "rtl" %>">
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <div dir="<%= @locale=="en" ? "ltr" : "rtl" %>">
          <h1><%= t("recover_mail.title") %></h1>
          <p>
            <%= @user.username + ", " + t("recover_mail.message") %>  <strong>bmsom123</strong>

            <% hash = BCrypt::Password.create(SecureRandom.urlsafe_base64) %>
            <% PasswordRecoveryToken.create(:user_id => @user.id, :recovery_token => hash) %>
            <%= link_to( t("recover_mail.reset"), { :controller => 'login',
                                                    :action => 'confirm_link',
                                                    :locale => @locale,
                                                    :recovery_token => hash,
                                                    :only_path => false } ) %>
          </p>
        </div>
    </body>
</html>