<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="text-center">
      <%= link_to(t("users_index.new_user"), new_user_path, :class => 'btn btn-success btn-lg radius') %><br/><br/>
    </div>
    <div class="panel panel-primary radius">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><span class="glyphicon glyphicon-user"></span> <%= t "users_index.title" %>:
          <span class="spinner"
                style="display: none; position: relative; top:4px; left:<%= params[:locale]=="en" ? "2px;" : "4px;" %>"
                id="titleSpinner">
          </span>
        </h1>
      </div>
      <div class="panel-body">
        <%= form_tag  users_path, method: 'get', id: 'users_form', remote:true do |f| %>
          <%= render(:partial => 'shared/notifications') %>
          <%= render(:partial => 'form_search') %>
          <%= render(:partial => 'form_users') %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<%= javascript_include_tag 'users' %>