<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-primary radius">
      <div class="panel-heading">
        <h1 class="panel-title text-center" id="reservations_title"><%= t "new_reservation.title" %>:
          <span class="spinner"
                style="display: none; position: relative; top:4px; left:<%= params[:locale]=="en" ? "2px;" : "4px;" %>"
                id="titleSpinner">
          </span>
        </h1>
      </div>
      <div class="panel-body">
        <div class="col-md-12">

          <%= form_for ([@user, @reservation]), remote: true  do |f| %>
            <%= render(:partial => 'form_datetime', locals: { f: f }) %>
            <%= render(:partial => 'shared/notifications', locals: { f: f }) %>
            <%= render(:partial => 'form_rooms', locals: { f: f }) %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'reservations' %>