<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-primary radius">
      <div class="panel-heading">
        <h1 class="panel-title text-center" id="reservations_title"><%= t "login.title" %>:
          <span class="spinner"
                style="display: none; position: relative; top:4px; left:<%= params[:locale]=="en" ? "2px;" : "4px;" %>"
                id="titleSpinner">
          </span>
        </h1>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
        <%= form_tag(:action => 'login_attempt') do %>
          <%= render 'form' %>
          <div class="text-center">
            <%= submit_tag(t("login.submit.sign-in"), :class => 'btn btn-primary radius btn-lg') %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
